streamlit==1.40.1
pandas==1.5.3
langchain==0.3.11
langchain-community==0.3.11
langchain-core==0.3.24
langchain-experimental==0.3.3
langchain-groq==0.2.1
langchain-text-splitters==0.3.2
numpy>=1.26.2
